/* 2020145004 권가영 */
*{
    margin: 0;
    padding: 0;
}
.wrap{
    text-align: center;
    margin: 0 auto;
}
.header{
    position:fixed;
    background-color: black;
    left: 0;
    right: 0;
}
.header img{
    height: 63px;
    padding-top: 17px;
}
.category ul{
    text-align: center;
}
.category li{
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    list-style-type: none;
    color: white;
    margin: 0 9px;
    padding-bottom: 16px;
    letter-spacing: 3px;
}
.category a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.category a:hover{
    opacity: 1;
}
.contents{
    width: 2000px;
    display: inline-block;
}
.contents h1{
    text-align: center;
    font-size: 17px;
}
.main_image{
    background: #000 url(image/main.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 714px;
    background-position-x: center;
}
.main_txt{
    color: #bbb;
    padding-top: 256px;
    text-align: center;
}
.main_txt h1{
    padding-bottom: 16px;
    font-size: 22px;
    font-weight: 200;
}
.main_txt p{
    font-weight: 200;
}
.menu{
    margin: 0 auto;
}
.menu h1{
    margin-top: 171px;
    margin-bottom: 9x;
    padding-bottom: 2px;
    font-size: 29px;
    letter-spacing: 4px;
}
.box{
    background-color: white;
    width: 350px;
    text-align: center;
    display: inline-block;
    margin: 20px 3px;
}
.boxs{
    margin-bottom: 83px;
    text-align: center;
    border-bottom: #ddd 1px solid;
    width: 1700px;
    display: inline-block;
}
.boxs.last{
    border-bottom: none;
}
.box-contents{
    padding: 20px;
}
.box-contents img{
    width: 230px;
}
.box-contents h2{
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 4px;
}
.box-contents p{
    padding-bottom: 40px;
    color: #d70051;
}
.box_new{
    background-color: white;
    width: 350px;
    display: inline-block;
    margin: 20px 3px;
    padding: 20px;
}
.footer{
    background-color: #2f2f2f;
    color: #888;
    text-align: center;
}
.footerbox{
    display: inline-block;
    font-size: 10px;
    padding: 30px 86px;
    vertical-align: top;
    text-align: left;
}
.footerbox a{
    color: inherit;
    text-decoration: none;
}